<div class="about-body pt-5">
    <div class="about-container pt-5">
        <div class="d-flex flex-column align-items-center text-white pt-5">
            <div class="heading my-3">
                <h2 class="text-uppercase">about component</h2>
                <div class="heading-decoration d-flex justify-content-center align-items-center">
                    <div class="left-line me-2"></div>
                    <i class="fa-solid fa-star"></i>
                    <div class="right-line ms-2"></div>
                </div>
            </div>
        </div>
        
        <div class="conatiner">
            <div class="row justify-content-center g-5">
                <div class="col-md-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vitae ut quisquam exercitationem quaerat cumque esse? Molestias esse facilis velit praesentium nostrum cumque harum iure maiores qui repudiandae! Nemo, officiis?
                </div>
                <div class="col-md-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum vitae ut quisquam exercitationem quaerat cumque esse? Molestias esse facilis velit praesentium nostrum cumque harum iure maiores qui repudiandae! Nemo, officiis?
                </div>
        
            </div>
        </div>
    </div>
    
</div>
